
.alert {
    padding:10px;
    margin-bottom:15px;
    border-radius:5px;
}

.error {
    font-size:14px;
    
    background-color:#f8d7da;
    color:#010623;
    border:1px solid #e05260;
}

.error-message {
    color: #721c24;
    font-size: 0.85em;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}

.success {
    font-size:14px;
    background-color:#d4edda;
    color:#155724;
    border:1px solid #c3e6cb;
}
.success-message {
    color: #155724;
    font-size: 0.85em;
    display: block;
    margin-top: -5px;
    margin-bottom: 10px;
}
