.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
img {
  width: 100px;
  cursor: grab;
  border: 2px solid transparent;
}
img.dragging {
  opacity: 0.5;
}
#result {
  font-size: 20px;
  font-weight: bold;
}
/* #result.success {
  color: green;
}
#result.failure {
  color: red;
} */