@tailwind base;
@tailwind components;
@tailwind utilities;

/* Exemple perso : classe custom */
.btn-purple {
    @apply bg-purple-600 hover:bg-purple-700 text-white px-6 py-3 rounded-lg;
}

.card {
    @apply bg-white rounded-xl shadow-md hover:shadow-xl transition duration-300;
}

.section-title {
    @apply text-3xl font-bold mb-4 text-purple-700;
}

.input-text {
    @apply border border-gray-300 rounded-md px-3 py-3 w-full focus:border-purple-500 focus:ring-2 focus:ring-purple-500;
}
