* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;    
    max-height: 100vh; /*permet à la page de s'étendre naturellement */
}


body {
    width: 100%;
    height: 100%;
    /* gap: 20px; */
    display: flex;
    flex-direction: column;
     /*align-items: center;    
    justify-content: center; */
}


main {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center; 
}

.section-h1 {
    display: inline-block;
    flex: 1 0 100%;
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #275fa0;
    text-align: center;
}

.section-h1 h1 {
    margin-bottom: 20px;
    font-size: clamp(1.5rem, 5vw, 3rem);
    /* min: 1.5rem | préféré: 5vw | max: 3rem */
}

.section-h1 p {
    font-size: clamp(0.875rem, 2vw, 1.25rem);
    /* min: 0.875rem | préféré: 2vw | max: 1.25rem */
}

.section {
    /* width: 300px; */
    height: 200px;
    font-size: 2rem;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #88c1d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%; /* Mobile par défaut (≤ 767px) */
    border: 1px solid #fff;
}


/* 768px à 1599px = 2 sections par ligne */
@media screen and (min-width: 768px) and (max-width: 1599px) {
    .section {
        flex: 1 0 45%;
        flex-direction: row;
    }
}

/* ≥ 1600px = 4 sections par ligne */
@media screen and (min-width: 1600px) {
    .section {
        flex: 1 0 24%;
        flex-direction: row;

    }
}



/* ===============
    HEADER GLOBAL 
   =============== */


header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
    background: #275fa0;
    padding: 20px 10px ;
}

/* Menu Desktop par défaut */
nav {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    /* gap: 20px; */
}

nav ul li a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    /* padding: 10px 15px; */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Bouton Menu - caché sur desktop */
.menu-toggle {
    display: none;
    font-size: 2rem;    
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}

/* Icônes */
.menu-toggle .burger { 
    display: inline;
}
.menu-toggle .close { 
    display: none;
}

/* Lorsqu'il est actif → on inverse les icônes */
.menu-toggle.active .burger { 
    display: none; 
}
.menu-toggle.active .close { 
    display: inline; 
}

/* Menu Mobile (masqué par défaut) */
#mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: rgba(17, 17, 17, 0.95);
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
}

/* Menu visible */
#mobileMenu.active {
    transform: translateX(0);
}

/* Liens Mobile */
#mobileMenu a {
    color: white;
    font-size: 1.5rem;
    padding: 10px 25px;
    width: 100%;
    text-decoration: none;
}

#mobileMenu a:hover {
    background: rgba(255,255,255,0.1);
}

/* Responsive - Mobile/Tablette */
@media screen and (max-width: 768px) {
    
    /* On remplace le menu desktop par burger */
    nav ul {
        display: flex;
        flex-direction: column; 
        
    }

    nav ul li {
        margin: 20px 0;
    }   
    
    nav li a {
        font-size: 1.5rem;
        padding: 20px 30px;
    }
    .menu-toggle {
        display: block;
    }

    #mobileMenu a {
    color: #f0f1f2;
    /* color: yellowgreen; */
}


}

/* Desktop - Menu visible sans burger */
@media screen and (min-width: 769px) {

    #mobileMenu {
        transform: none;
        position: static;
        height: auto;
        background: none;
        width: auto;
        padding: 0;
        flex-direction: row;
    }

    #mobileMenu a {
        font-size: 1.2rem;
        padding: 40px;
        width: auto;
    }

    #mobileMenu li {
        display: inline;
        padding: 30px;
        
    }
}
