* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    /* height: 100%; */
}

body {
    width: 100%;
    /* height: 100%; */
    /* padding: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    width: 100%;
    background: #275fa0;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;   
}

nav .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
}

nav .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav .nav-links a:hover {
    text-decoration: underline;
    color: #d1eaff;
}   

/* HAMBURGER BUTTON */
.hamburger {
    display: none;
    /* display: block; */
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

main {
    width: 100%;
    height: calc(100% - 41.46px);
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    /* flex: 1; */
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #88c1d0;
}

main h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

main p {
    width: 100%;
    text-align: center;
    /* font-size: 1.2rem; */
    color: #333;
    margin: 0 0 20px 0;
}

main .section {
    /* width: 300px; */
    height: 200px;
    font-size: 2rem;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #88c1d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%; /* Mobile par défaut (≤ 767px) */
    border: 1px solid #fff;
}


/* Bouton menu */
.menu-toggle {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    z-index: 1001;
}

/* Icônes */
.menu-toggle .burger { display: inline; }
.menu-toggle .close { display: none; }

/* Toggle actif */
.menu-toggle.active .burger { display: none; }
.menu-toggle.active .close { display: inline; }

/* Menu mobile caché */
#mobileMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background: #111;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
    padding-top: 80px;
    z-index: 1000;
}

/* Menu visible */
#mobileMenu.active {
    transform: translateX(0);
}

/* Desktop : menu visible sans burger */
@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }

    #mobileMenu {
        transform: translateX(0);
        position: static;
        height: auto;
        width: auto;
        background: none;
    }
}






/* 768px à 1599px = 2 sections par ligne */
@media screen and (min-width: 768px) and (max-width: 1599px) {
    main .section {
        flex: 1 0 42%;
        flex-direction: row;
    }
}

/* ≥ 1600px = 4 sections par ligne */
@media screen and (min-width: 1600px) {
    main .section {
        flex: 1 0 24%;
        flex-direction: row;

    }
}

/* ≤ 767px */
@media screen and (max-width: 767px) {
    
    header {
        display: flex;
        flex-direction: column;
        height: 60px;
        max-height: 60px;
    }
    nav ul.nav-links {
        position: relative;
        top: 0px;
        left: 0;
        display: none;
        flex-direction: column;
        background: #275fa0;
        width: 100%;
        padding: 10px 0;
    }
    
    nav ul.nav-links.active {
        
        display: flex;        
        flex-direction: column;
        align-items: flex-start;
        background: rgba(39, 95, 160, 0.7);
        /* background: #275fa0; */
        width: 200px;        
        padding: 10px 0;
    }
    
    nav .nav-links li {
        width: 100%;
        padding: 0 10px;
        gap: 0;
        border-bottom: 1px solid #fff;
    }

    nav .nav-links a {
            /* padding: 10px 20px; */
            width: 100%;
        }

    .hamburger {
        display: block;        
        align-self: flex-end;
    }

    .hamburger:focus {
        outline: none;
    }

    .hamburger.active {
        color: #d1eaff;
        /* opacity: 1; */
    }
}