* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}

.section {
    /* width: 300px; */
    height: 200px;
    font-size: 2rem;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #88c1d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 100%; /* Mobile par défaut (≤ 767px) */
    border: 1px solid #fff;
}


/* 768px à 1599px = 2 sections par ligne */
@media screen and (min-width: 768px) and (max-width: 1599px) {
    .section {
        flex: 1 0 45%;
        flex-direction: row;
    }
}

/* ≥ 1600px = 4 sections par ligne */
@media screen and (min-width: 1600px) {
    .section {
        flex: 1 0 24%;
        flex-direction: row;

    }
}
