* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: #ececec;
  padding: 18px;
  color: #222;
  font-size: 16px;
}

h1 {
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 700;
}

#board {
  width: 312px;
  height: 312px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border: 6px solid #333;
  background: #111;
}

.tile {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Case vide */
.tile.blank {
  opacity: 0;
  pointer-events: none;
}

#message {
  font-size: 22px;
  margin-top: 12px;
  min-height: 1.3em;
  font-weight: bold;
}

button {
  padding: 10px 16px;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid #333;
  background: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #333;
  color: #fff;
}

button:active {
  transform: scale(0.95);
}
